@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-chillax: "Chillax", sans-serif;
  /* Brand colors */

  --color-brand-black: #190f00;
  --color-brand-gray: #ababab;
  --color-brand-grey: #707070;
  --color-brand-gray-alt: #565656;
}

html {
  font-family: var(--font-satoshi);
  scroll-behavior: smooth;
}

.no-scrollbar ::-webkit-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  display: none; /* Chrome, Safari, Opera */
}
